useDynLib(nextstat, .registration = TRUE)

export(ns_normal_logpdf)
export(ns_ols_fit)
export(nextstat_fit)
export(nextstat_hypotest)
export(nextstat_upper_limit)
export(nextstat_glm_logistic)
export(nextstat_glm_poisson)
export(nextstat_glm_negbin)
export(nextstat_kalman)
export(nextstat_garch)
export(nextstat_sv)
export(ns_foce)
export(ns_saem)
export(ns_scm)
export(ns_emax)
export(ns_sigmoid_emax)
export(ns_idr)
export(ns_vpc)
export(ns_gof)
